.header {
    position: fixed;
    background:#89B8CC;
}

.nav {
    text-transform: lowercase;
    display: inline-block;
}

.nav__point {
    color: #053f60;
    display: inline;
    height: auto;
    text-decoration: none;
    font-size: 18px;
    font-weight: initial;
}

.nav__point a {
    color: #053f60;
    display: inline;
    height: auto;
    text-decoration: none;
    font-size: 18px;
    font-weight: initial;
}


.nav__point:nth-child(2n) {
    color: #A046C7;
}

.main_info {
    padding: 10px 0;
    color: #6A8E9E;
    text-align: right;
    font-size: 16px;
}

.logo {
    font-family: Georgia, serif;
    line-height: 10px;
    font-weight: bold;
    font-size: 18px;
}

.slogan {
    display: block;
    font-family: Georgia, serif;
    margin: 0 40px;
    box-shadow: 10px 5px 5px #8CA2BA;
}

.slogan__text {
    padding: 10px 0;
    color: #2C333B;
}

.slogan__code {
    background-color: #598DC6;
}

.quote {
    line-height: 10px;
    font-size: small;
}

.quote__text {
    font-size: 15px;
}

.quote__author {
    text-decoration-line: underline;
    color: #2C333B;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'contacts';
    color: #020202;
    text-align: center;
    padding: 40px 0;
    font-family: system-ui;
}

.menu {
    text-transform: lowercase;
    display: inline-block;
    margin-bottom: 10px;
}

.menu__point {
    margin: 0 50px;
    color: #89B8CC;
    line-height: normal;
    height: auto;
}

.menu__point a {
    margin: 0 50px;
    color: #89B8CC;
    line-height: normal;
    height: auto;
    text-decoration: none;
}

.menu__point:hover {
    color: green;
}

.menu__point a:hover {
    color: green;
}

.img-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img__content_point {
    height: 220px;
    width: auto;
    margin: 20px 10px;
}

@media screen and (max-width: 800px) {
    .main_info {
        font-size: 10px;
    }

    .logo {
        font-size: 12px
    }

    .slogan {
        font-size: 12px;
    }
}

.active_button {
    text-shadow: 5px 5px #000000;
}

#mouseTarget {
    height: 100px;
    width: 200px;
    background-color: #598DC6;

}

.form {
    padding-top: 20px;
    font-family: Georgia, serif;
    color: #0b243b;
    font-size: 1rem;
    font-weight: 600;
}

.form__input {
    font-family: inherit;
    height: 30px;
    font-size: inherit;
    color: #2C333B;
    border-color: #368880;
    border-radius: 10px;
    margin-bottom: 10px;
}

.form__select {
    font-family: inherit;
    height: 30px;
    font-size: inherit;
    font-weight: inherit;
    color: #ffffff;
    background: #8d7bce;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.form__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 39%;
    font-weight: 500;
    font-size: 1rem;
}

.form__player {
    display: flex;
    font-size: 1rem;
    background-color: #89B8CC;
    border-radius: 2px;
}

.form__text-field__button {
    margin-left: auto;
    cursor: pointer;
}
.form__checkbox {

}

.form__button {
    font-family: inherit;
    height: 30px;
    font-size: inherit;
    font-weight: inherit;
    color: #ffffff;
    background: #3e6688;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

[form_option="new"] .form__player:not([player_option="new"]),
[form_option="completed"] .form__player:not([player_option="completed"]) {
    display: none;
}

.forum__logo{
    color: #6A8E9E;
    text-align: center;
    font-size: 32px;
}

.forum__container{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 32px;
}

.forum__text{
    font-size: 1.3rem;
    background-color: #89B8CC;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 0 10px;
}

.forum__text-title{
    text-align: center;
    font-weight: 600;
}

.forum__text-body{
    margin: 1px 10px;
}

.forum__text-author{
    text-align: right;
    margin: 1px 10px;
}

.forum__error{
    margin: 0 30%;
    text-align: center;
    color: white;
    background: #e82828;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 600;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: white;
}

.preloader__image {
    background: url('src/preloader.gif') no-repeat 50% 50%;
    position: fixed;
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -32px;
}


