.header{
    position: fixed;
    background-color: #033A52;
}

.nav{
    text-transform: lowercase;
    display: inline-block;
}

.nav__point{
    color: #89B8CC;
    display: inline;
    height: auto;
    text-decoration: none;
    font-size: 14px;
    font-weight: initial;
}

.nav__point a{
    color: #89B8CC;
    display: inline;
    height: auto;
    text-decoration: none;
    font-size: 14px;
    font-weight: initial;
}


.nav__point:nth-child(2n){
    color: #A046C7;
}

.main_info{
    padding: 10px 0;
    color: #6A8E9E;
    text-align: right;
    font-size: 16px;
}

.logo{
    font-family: Georgia, serif;
    line-height: 10px;
    font-weight: bold;
    font-size: 18px;
}

.slogan{
    display: block;
    font-family: Georgia, serif;
    margin: 0 40px;
    box-shadow: 10px 5px 5px #8CA2BA;
}

.slogan__text{
    padding: 10px 0;
    color: #2C333B;
}

.slogan__code{
    background-color: #598DC6;
}

.quote{
    line-height: 10px;
    font-size: small;
}

.quote__text{
    font-size: 15px;
}

.quote__author{
    text-decoration-line: underline;
    color: #2C333B;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'contacts';
    color: #020202;
    text-align: center;
    padding: 40px 0;
    font-family: system-ui;
}

.menu{
    text-transform: lowercase;
    display: inline-block;
    margin-bottom: 10px;
}

.menu__point{
    margin: 0 50px;
    color: #89B8CC;
    line-height: normal;
    height: auto;
}

.menu__point:hover{
    color: green;
}

.img-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img__content_point {
    height: 220px;
    width: auto;
    margin: 20px 10px;
}

@media screen and (max-width: 800px) {
    .main_info{
        font-size: 10px;
    }
    .logo {
        font-size: 12px
    }
    .slogan{
        font-size: 12px;
    }
}

.active_button{
    text-shadow: 5px 5px #000000;
}

#mouseTarget {
    height: 100px;
    width: 200px;
    background-color: purple;
}
